@import '../../variables';
.nav-box{
    aspect-ratio: 1/1;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color-blue;
    h3{
        color: $primary-color-gray;
        text-align: center;
        text-decoration: none;
    }
    a{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        text-decoration: none;
    }
}
@media screen and (max-width: 1150px) {
    .nav-box{
        width: 33%;
    }    
}
@media screen and (max-width : 500px) {
    .nav-box{
        width: 60%;
    }
}