ul {
    padding: 0;

    .MuiPaper-root {
        margin-top: 0%;
    }

    li:hover {
        background-color: rgb(184, 177, 177);
    }
}


@media screen and (max-width: 1280px) {
    .MuiPaper-root {
        margin-top: 0;
    }
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;

    .brand {
        a:hover {
            border: none;
        }

        a {
            display: flex;
            gap: 20px;
            align-items: center;
            text-decoration: none;
        }

    }

    .sign_acc {
        display: none;
    }

    @media screen and (max-width: 680px) {
        .brand {
            span {
                display: none;
            }
        }

        .sign_up {
            gap: 0px;

            .sign_btn {
                display: none !important;
            }

            .sign_acc {
                display: block;
            }
        }

        section {
            gap: 8px !important;
        }


    }

    section {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;

        .lang_change {
            height: 35px;
        }

        .sign_up {
            gap: 15px;

            button {
                padding: 10px 15px;
                border-radius: 5px;
                background-color: blue;
                color: white;
                font-weight: bolder;
                border: none;
            }
        }
    }
}

.accord {
    border: none;
}