@import "../../variables";
@media screen and (max-width: 490px) {
    .navBar {
        padding: 15px 0px !important;
        gap: 0px !important;
    }
}
.nav_wrapper{
    width: 100%;
}
.nav-side{
    li{
        padding: 0px;
        a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $primary-color-blue;
            padding: 20px;
        }
    }
    li:hover{
        background-color: $primary-color-gray;
    }
}
.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    gap: 20px;

    .brand {
        a:hover {
            border: none;
        }

        a {
            display: flex;
            gap: 20px;
            align-items: center;
            text-decoration: none;
        }

    }

    .sign_acc {
        display: none;
    }

    .MuiIconButton-colorInherit {
        margin: 0 !important;
    }

    @media screen and (max-width: 680px) {
        .brand {
            span {
                display: none;
            }
        }

        .sign_up {
            gap: 0px;

            .sign_btn {
                display: none !important;
            }

            .sign_acc {
                display: block;
            }
        }

        section {
            gap: 8px !important;
        }


    }

    .poor_sight {
        display: flex;
        gap: 10px;
        align-items: center;
        border-radius: 15px;
        border: none;
        background-color: $primary-color-gray;
        padding: 0 8px;

        i {
            color: $primary-color-blue;
        }

        span {
            color: $primary-color-blue;
        }

    }

    @media screen and (max-width: 1100px) {
        .poor_sight {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            height: 30px;
            width: 30px;

            span {
                display: none;
            }
        }
    }

    .search {
        display: flex;
    }

    input {
        border: none;
        width: 250px;
        background-color: $primary-color-gray;
        border-radius: 20px;
        transform: rotate(180deg);
    }

    .search::after {
        font-family: 'FontAwesome';
        content: '\f002';
        display: none;
    }

    @media screen and (max-width: 780px) {
        input {
            width: 150px;
        }

    }

    @media screen and (max-width: 620px) {
        input {
            display: none;
        }

        .search::after {
            display: block;
        }
    }


    section {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        align-items: center;

        .lang_change {
            height: 35px;
        }

        .sign_up {
            gap: 15px;

            button {
                padding: 6px 10px;
                border-radius: 5px;
                background-color: $primary-color-blue;
                color: white;
                font-weight: bolder;
                border: none;
            }
        }
    }
}

.accord {
    border: none;
}

.sign_in_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1300;
}

.modal-dialog {
    z-index: 1300;
}

.modal-backdrop {
    z-index: 1300;
}
@media screen and (max-width: 1200px) {
    .nav{
        display: none;
    }
}
.nav-link{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color-blue !important;
    border: none !important;
    a{
        width: 100%;
        height: 100%;
    }
}
.nav-tabs{
    border: none!important;
    .active{
        background-color: #ebedff !important;
        color: black !important;
    }
}
