strong {
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            position: relative;
        }

        h2::before {
            content: '  ';
            background-color: blue;
            height: 100%;
            width: 5px;
            left: -10px;
            position: absolute;
        }

        nav {
            display: flex;
            align-items: center;

            ol {
                margin: 0 !important;
            }
        }

        .breadcrumb {
            .breadcrumb-item {
                a {
                    color: blue;
                    text-decoration: overline;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    strong {
        div {
            display: flex;
            flex-direction: column;
            row-gap: 30px;
        }

    }
}